<!DOCTYPE html/>

<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <title>Bhuddha:the soul</title>
    <link href="style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <header class="main-head clearfix">
        <h1>The core of bhuddhism</h1>

        <nav>
          <a href="Soul.html" target="_blank">Soul energy</a>
          <a href="#">Mind energy</a>
          <a href="css-grid.html">CSS-grid</a>
          <a href="flexbox.html">Flexbox</a>
        </nav>
        <!--<div class="clear"></div>-->
      </header>
      <div class="row">
        <article>
          <header class="post-header">
            <h2>The source of bhuddhism</h2>

            <!-- <button>🎉like</button> -->
            <div class="author-box">
              <img
                src="img/g.bhuddha.jfif"
                alt="image of bhuddha"
                height="250"
                width="250"
                class="post-img"
              />
              <p class="author">Published by the bhuddhism community</p>
            </div>
            <img
              src="img/bhu4.jpg"
              alt="photo of bhuddha"
              height="250px;"
              width="300px"
              class="post-img2"
            />
          </header>
          <!-- <button>🎉like</button> -->

          <p>
            As we know that the main source of bhuddism is to meditate via yoga
            and peace and spending some sort of time with
            <strong>mother earth</strong> via connecting naturally. The Buddha
            was said to be critical of worship, in fact. In one scripture
            (Sigalovada Sutta, Digha Nikaya 31) he encountered a young man
            engaged in a Vedic worship practice. The Buddha told him important
            in a responsible, ethical way than to worship anything.
          </p>

          <h3>Modes to acheive bhuddism</h3>

          <img
            src="img/god bhuddha.jpg"
            alt="face of bhuddha"
            height="125"
            width="185"
            class="post3-img"
          />

          <p>There are various modes to acheive bhuddism peace :-</p>

          <a
            href="https://www.lionsroar.com/who-was-the-buddha/"
            target="_blank"
            >MODE TO BHUDDHISM :-</a
          >

          <ol>
            <li class="first-li">Be a <em>nature person</em></li>
            <li><em>regular</em> to yoga</li>
            <li><strong>lovable</strong> to everyone</li>
          </ol>

          <p>
            he Second Truth tells us dukkha has a cause. The immediate cause is
            craving, and the craving comes from not understanding reality and
            not knowing ourselves. Because we misunderstand ourselves we are
            riddled with anxiety and frustration. We experience life in a
            narrow, self-centered way, going through life craving things we
            think will make us happy.
          </p>

          <h4>How to attain to that <em>source</em></h4>
          <p>listen carefully with meditation</p>

          <ul>
            <li>yoga</li>
            <li>maturity</li>
            <li>nature</li>
            <li>air</li>
            <li>atmosphere</li>
          </ul>
          <p>
            he prince renounced his worldly life and began a spiritual quest. He
            sought teachers and punished his body with asc etic practices such
            as extreme, prolonged fasts. It was believed that punishing the body
            was the way to elevate the mind and that the door to wisdom was
            found at the edge of de ath. However, after six years of this, the
            pri nce felt only frustration. Eventually, he realized that t he
            path to peace was through mental discipline. At Bodh Ga ya, in the
            modern India n state of Bihar , he sat in meditation beneath a ficus
            tree, “the Bodhi tree,” until he awakened
          </p>
        </article>

        <aside>
          <h5>Related post</h5>
          <ul class="related">
            <li class="related-author">
              <img
                src="img/bhuddh1.jpg"
                alt="live nature"
                height="60"
                width="60"
              />
              <div>
                <a href="#" class="related-link">go back to mind</a>
                <p class="related-p">By DR.jain Harish</p>
              </div>
            </li>

            <li class="related-author">
              <img
                src="img/bhu2.jpg"
                alt="nature peace"
                height="58"
                width="58"
              />
              <div>
                <a href="#" class="related-link"> the secret peace</a>

                <p class="related-p">For the world</p>
              </div>
            </li>

            <li class="related-author">
              <img
                src="img/bhu3.jpg"
                alt="nature love"
                height="70"
                width="60"
              />
              <div>
                <a href="#" class="related-link">soul the fool</a>

                <p class="related-p">By the mysterious sakes</p>
              </div>
            </li>
          </ul>
        </aside>
      </div>

      <footer>
        <p id="copyright">copyright &copy; 2022 for the sources</p>
      </footer>
    </div>
    <button>🎉like</button>
  </body>
</html>
