<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap"
      rel="stylesheet"
    />

    <title>Accordian component</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      body {
        font-family: "inter", sans-serif;
        color: #343a40;
        line-height: 1;
      }
    </style>
  </head>
  <body>
    <!-- just a code to be saved here -->

    <!-- creating of form site on page -->

    <form action="#">
      <div>
        <label>Full Name</label>
        <input type="text" placeholder="your name" required />
      </div>
      <div>
        <label>Email-address</label>
        <input type="email" placeholder="G@example.com" required />
      </div>

      <label>Where did you hear us?</label>
      <select required>
        <option>Please choose one option</option>
        <option>Whatsapp group</option>
        <option>Google add</option>
        <option>Facebook add</option>
        <option>Instagram add</option>
        <option>Snapchat videos</option>
        <option>Other</option>
      </select>

      <button>Sign up now</button>
    </form>
    <!-- <input type="checkbox" />
    <input type="number" /> -->
  </body>
</html>
